@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul>
        <li><a asp-controller="Values" asp-action="Get">MVC Values</a> (requires authorization)</li>
        <li><a asp-controller="Error" asp-action="Get">MVC Error</a></li>
        <li><a href="api/simple">Simple API</a> (requires authorization)</li>
    </ul>
</div>
